@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="jumbotron" style="background-image: url(http://www.ucn.cl/wp-content/uploads/2014/10/Cuadro-870x401.jpg); background-size: cover;">
    <h1 class="text-light">Portal Web SCEUCN</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Bienvenido al Portal Web SCEUCN</h2>
        <p>
            Este es el portal web para el proyecto "Sistema de Control de Estacionamiento",
            para el ramo Proyecto de Desarrollo e Integracion de Soluciones, de la Universidad 
            Catolica del Norte.
        </p>
    </div>

    <div class="col-md-6">
        <h2>Descargar Proyecto</h2>
        <p>Puede descargar el proyecto desde Github.</p>
        <p>
            <a class="btn btn-default"
               href="https://github.com/ChristianFarias23/SCE-UCN">
                Ir al proyecto &raquo;
            </a>
        </p>
    </div>
</div>