@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al portal SCEUCN!</h1>
    <p>TODO: Aqui deberan ir los ultimos registros.</p>
</div>
