@page
@model CL.UCN.DISC.PDIS.SCE.Web.Pages.VehiculosModel
@{
    ViewData["Title"] = "Vehiculos";
}

<h1>@(ViewData["Title"])</h1>
<head>
  <link rel="stylesheet" href="~/css/table.css">
</head>

<body>
  <table>
    <tr>
      <th>Placa</th>
      <th>Rut</th>
      <th>Nombre Completo</th>
    </tr>
    
    <!-- El detalle del vehiculo. -->
    @foreach (var vehiculo in Model.Vehiculos)
    {
      <tr>
        <td>@(vehiculo.placa)</td>
      </tr>
    }


  </table>
</body>