@page "{id}"
@model CL.UCN.DISC.PDIS.SCE.Web.Pages.Vehiculos.EditModel

@{
    ViewData["Title"] = "Editar Vehiculo";
    var anioActual = Int32.Parse(DateTime.Now.Year.ToString());    
}

<h2>
    Editar Vehiculo @(Model.Id)
</h2>

<hr>

@using CL.UCN.DISC.PDIS.SCE.Web.Pages.Vehiculos

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <!-- Rut del duenio -->
            <div class="form-group">
                <label asp-for="Vehiculo.Rut" class="control-label">Rut del dueño:</label>
                <select asp-for="Vehiculo.Rut" class="form-control" asp-items="Model.Ruts">
                    <option selected="selected" value="">Seleccione rut existente...</option>
                </select>
                <span asp-validation-for="Vehiculo.Rut" class="text-danger"></span>
            </div>

            <!-- Tipo de vehiculo -->
            <div class="form-group">

                <!-- Importar Tipo desde ZeroIce.Model -->
                @using CL.UCN.DISC.PDIS.SCE.Server.ZeroIce.Model

                <label asp-for="Vehiculo.Tipo" class="control-label">Tipo:</label>
                <select asp-for="Vehiculo.Tipo" class="form-control" asp-items="Html.GetEnumSelectList<Tipo>()">
                    <option selected="selected" value="">Seleccione...</option>
                </select>
                <span asp-validation-for="Vehiculo.Tipo" class="text-danger"></span>
            </div>

            <!-- Marca del vehiculo -->
            <div class="form-group">
                <label asp-for="Vehiculo.Marca" class="control-label">Marca:</label>
                <input asp-for="Vehiculo.Marca" class="form-control" placeholder="Ej: Toyota, Hyundai..."/>
                <span asp-validation-for="Vehiculo.Marca" class="text-danger"></span>
            </div>
            
            <!-- Anio del vehiculo -->
            <div class="form-group">
                <label asp-for="Vehiculo.Anio" class="control-label">Año:</label>
                <!-- <input asp-for="Vehiculo.Anio" class="form-control" type="number" min="1800" max=@(anioActual) step="1" value="2010"/>-->
                <input asp-for="Vehiculo.Anio" class="form-control" type="number" min="1800" max=@(anioActual) step="1" />
                <span asp-validation-for="Vehiculo.Anio" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <!-- Cancelar -->
                <a asp-page="./Index">
                    <button type="button" class="btn btn-outline-secondary">
                    <i class="fa fa-cancel" style="vertical-align: middle; margin-top: -0.125em"></i>
                    Cancelar
                    </button>
                </a>

                <!-- Guardar -->
                <input type="submit" value="Guardar" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}